<div class="container text-dark" id="carrito">
	<div class="alert alert-primary">
		<h2>Carrito de compras</h2>
	</div>
	<div class="container">
		<div class="alert alert-light">
			<ul class="list-group">
				<li class="row" *ngFor="let caritem of carItems">

						<div class="col-4">
							<img src="/assets/{{caritem.item.img}}">
						</div>
						<div class="col-4">
							<h3>{{caritem.item.nombre}}</h3>
							<h5>Precio: {{caritem.item.precio}}</h5>
							<h5>Unidades: {{caritem.cantidad}}</h5>
						</div>
						<div class="col-4">
							<h4>Subtotal: ${{caritem.item.precio*caritem.cantidad}}</h4>
							<hr>
							<br>
						</div>
				</li>
			</ul>
		</div>
		<div class="alert alert-warning row" >
			<div>
				<a class="btn btn-primary" [routerLink]="['/principal/productos']">Cancelar</a>
				<a class="btn btn-success text-white" (click)="pagar();">Pagar</a>
			</div>
			<div>
				<h2 class="titulo">Total: ${{total}}</h2>
			</div>
		</div>
	</div>
</div>
